<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enrollment-history</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Enrollment History</h1>
    <% if (enrollments.length === 0) { %>
            <p>No enrollments yet.</p>
        <% } else {%>
            <% enrollments.forEach(function(enrollment) { %>
                <div>
                    <a href="/enrollments/<%= enrollment._id %>"><%= enrollment.activityId.title %></a>
                </div>
            <% }) }%>
</body>
</html>