<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>provider-enrollments-view</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Enrollments</h1>

    <% if (Object.keys(groupedEnrollments).length === 0) { %>
        <p>No enrollments yet for your activities.</p>
    <% } %>
    <% for (let [activityTitle, group] of Object.entries(groupedEnrollments)) { %>
        <h2>
            <%= activityTitle %>
            <% if (group.capacity && group.enrolledCount / group.capacity >= 0.8) { %>
                <span style="color: red;"> Nearly Full</span>
            <% } %>
        </h2>
        <table>
            <tr>
                <th>Child Name</th>
                <th>Registartion Date</th>
            </tr>

            <% group.entries.forEach((entry) => { %>
                <tr>
                    <td><%= entry.childName %></td>
                    <td><%= entry.createdAt.toDateString() %></td>
                </tr>
            <% }) %>
        </table>
    <% } %>


</body>
</html>