<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>provider-enrollments-view</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Enrollments</h1>

    <% for (let [activityTitle, entries] of Object.entries(groupedEnrollments)) { %>
        <h2><%= activityTitle %></h2>
        <table>
            <tr>
                <th>Child Name</th>
                <th>Registartion Date</th>
            </tr>

            <% entries.forEach((entry) => { %>
                <tr>
                    <td><%= entry.childName %></td>
                    <td><%= entry.createdAt.toDateString() %></td>
                </tr>
            <% }) %>
        </table>
    <% } %>


</body>
</html>