<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all-activities</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>All Activities</h1>
    <% for(let oneActivity of allActivities ){ %>
        <a href="/activities/<%= oneActivity._id %>"><%= oneActivity.title %></a>
        <br>
        <br>
        <% } %>

</body>
</html>